<!DOCTYPE html>
<HTML lang="en">
<HEAD>
    <META charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <TITLE>HBNB</TITLE>
</HEAD>
<BODY>

    {% if id and id in list_ids %}
    {% for state in states %}
    {% if state.id == id %}
    <H1>State: {{ state.name }}</H1>
    {% endif %}
    {% endfor %}
    <H3>Cities:</H3>
    {% for city in cities | sort(attribute='name') %}
    {% if city.state_id == id %}
    <UL>
        <LI>
            {{ city.id }}: <B>{{ city.name }}</B>
        </LI>
    </UL>
    {% endif %}
    {% endfor %}

    {% elif id and id not in list_ids %}
    <H1>Not found!</H1>

    {% else %}
    <H1>States</H1>
    <UL>
        {% for state in states | sort(attribute='name') %}
        <LI>
            {{ state.id }}: <B>{{ state.name }}</B>
        </LI>
        {% endfor %}
    </UL>
    {% endif %}

</BODY>
</HTML>